@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Fira Code', monospace;
  background: var(--nord4);
  color: var(--nord0);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

main {
  width: 60%;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 25px;
  background: var(--nord6);
  border: 1px solid var(--nord3);
}

.section__header {
  text-align: center;
  position:sticky;
  top: 106px;
  z-index: 100;
  background: var(--nord4);
}

.subsection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
}

.nav {
  min-height: 106px;
  max-height: 106px;
  width:100%;
  position:sticky;
  top: 0px;
  z-index: 100;
  background: var(--nord4);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

#header__title {
  font-size: 2em;
  font-weight: bold;
  position:sticky;
  top: 0px;
  z-index: 100;
}

#general-information img {
  border-radius: 100px
}

#general-information__social-media .bi {
  font-size: 2.5em;
  color: var(--nord0);
}

#general-information__social-media .bi:hover {
  color: var(--nord10);
  cursor: pointer;
}

#skills {
  align-items: center;
}

#work-experience,
#education {
  justify-content: start;
}

.work-experience__unit,
.education__unit {
  border-bottom: 1px solid var(--nord3);
}


footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 30px;
}

footer #cookie-jar {
  font-size: 1.2em;
  cursor: pointer;
}

footer #cookie-counter {
  font-size: 2em;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

#cookie-jar:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
